@import url('https://fonts.cdnfonts.com/css/gotham-rounded');

.cardContainer, .card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs{
    width: 80%;
    height: 5vh;
    border-radius: 6px;
    border: solid 1px ced4da;
    padding-right: 2.5rem;
    font-family: 'Gotham Rounded', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.password{
    margin-top: 5vh;
    font-size: 1.2em;
}

.title{
    font-size: 1.9em;
    font-weight: 500;
    margin-bottom: 4vh;
}

.button{
    margin-top: 4vh;
}
