@import url('https://fonts.cdnfonts.com/css/gotham-rounded');

.card{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    padding: 3vw;
}

.inputs{
    width: 80%;
    border-radius: 6px;
    border: solid 1px ced4da;
    font-family: 'Gotham Rounded', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 3vh;
}

.userinfos{
    font-weight: 300;
    margin-top: 1vh;
}

.pass{
    margin-top: 5vh;
    width: 60%;
}

.button{
    margin-top: 4vh;
}

.title{
    font-size: 1.9em;
    font-weight: 500;
    margin-bottom: 1vh;
}

.subTitle{
    font-size: 1.4em;
    font-weight: 300;
    margin-bottom: 1vh;
    margin-top: 6vh;
}
