<app-navbar-component></app-navbar-component>

<body>
    <div class="formContainer">
        <div class="card flex justify-content-center">
            <p-card class="card" [style]="{ width: '100%'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
                </ng-template>

                <div class="card flex justify-content-center">
                    <h2 class="title">Modify my password</h2>
                </div>

                <div class="card flex justify-content-center">
                    <h4 class="subTitle">Enter your current password</h4>
                </div>
                <form>
                    <div class="card flex justify-content-center">
                        <div class="pass ">
                            <p-password [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                                placeholder="Current Password"
                                [toggleMask]="true" [feedback]="false"></p-password>
                        </div>
                    </div>

                    <div class="card flex justify-content-center">
                        <h4 class="subTitle">Enter your new password</h4>
                    </div>

                    <div class="card flex justify-content-center">
                        <div class="pass ">
                            <p-password name="password" id="password"
                                [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" placeholder="Password"
                                [toggleMask]="true">
                                <ng-template pTemplate="header">
                                    <h6>Pick a password</h6>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <p-divider></p-divider>
                                    <p class="mt-2">Suggestions</p>
                                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                        <li>At least one lowercase</li>
                                        <li>At least one uppercase</li>
                                        <li>At least one numeric</li>
                                        <li>Minimum 8 characters</li>
                                    </ul>
                                </ng-template>
                            </p-password>
                        </div>
                    </div>

                    <div class="card flex justify-content-center">
                        <div class="pass ">
                            <p-password [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                                placeholder="Confirm Password"
                                [toggleMask]="true" [feedback]="false"></p-password>
                        </div>
                    </div>

                    <div class="card button flex justify-content-center">
                        <p-button label="Save password" icon="pi pi-save" type="submit"></p-button>
                    </div>
                </form>
            </p-card>
        </div>
    </div>
</body>