<mat-toolbar class="navbar">
    <mat-toolbar-row>
        <span class="title"><a class="homeButton" [routerLink]="['/']">Carpoule</a></span>
        <span class="example-spacer"></span>
        <span class="menuItem menuContainer"><a class="menuAction" [routerLink]="['/publish']"><mat-icon class="menuIcons">directions_car</mat-icon>My trips</a></span>
        <span class="menuItem menuContainer"><a class="menuAction" [routerLink]="['/publish']"><mat-icon class="menuIcons">add_circle_outline</mat-icon>Publish a trip</a></span>
        
        <p-avatar #avatar class="avatarContainer" alt="Logo" aria-haspopup="true" image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" styleClass="mr-2" size="large" shape="circle"></p-avatar>
        
        <p-contextMenu [target]="avatar" [model]="items" triggerEvent="click">
            <ng-template let-item pTemplate="item">
                <div class="menu-item">{{item.label}}</div>
            </ng-template>
        </p-contextMenu>

    </mat-toolbar-row>
</mat-toolbar>