body {
    padding: 3vh;
    margin-bottom: 10vh;
}

:host ::ng-deep .p-card {
    border-radius: 1em !important;
    width: 90%;
}

.card {
    display: flex;
}

.reservationCard {
    text-decoration: none;
}

.information {
    font-size: 1.1em;
    font-weight: 600;
}

.p-element {
    display: flex;
    justify-content: center;
}

.cardContainer {
    display: flex;
    justify-content: center;
}

.mat-expansion-panel {
    width: 90%;
    border-radius: 1em;
}

.pastTripsContainer {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}

.cardTitle {
    font-size: 1.5em;
}