<app-navbar-component></app-navbar-component>

<body>
    <div class="formContainer">
        <div class="flex justify-content-center">
            <p-card class="card" [style]="{ width: '70%'}">
                <div class="card wrapper flex justify-content-center">
                    <img src="https://i2.cdn.turner.com/cnnnext/dam/assets/140926165711-john-sutter-profile-image-large-169.jpg"
                        alt="" class="image--cover" />
                </div>

                <div class="card flex justify-content-center">
                    <h2 class="title">{{ firstname }} {{ name }}</h2>
                </div>

                <div class="card flex justify-content-center">
                    <h4 class="subTitle">Your informations</h4>
                </div>

                <div class="card flex justify-content-center">
                    <h4 class="userinfos">{{ email }}</h4>
                </div>

                <div class="card flex justify-content-center">
                    <h4 class="userinfos">{{ address }}</h4>
                </div>

                <div class="card flex justify-content-center">
                    <h4 class="userinfos">{{ phone }}</h4>
                </div>

                <div class="card flex justify-content-center">
                    <h4 class="userinfos">{{ birthdate | date }}</h4>
                </div>

                <div class="card flex justify-content-center">
                    <h4 class="subTitle">Your preferences</h4>
                </div>

                <div class="card preference flex justify-content-center">
                    <mat-icon class="icons">pets</mat-icon>
                    <p class="optionsPrefs" *ngIf="pref_animals; else no_animals">Pets allowed</p>
                    <ng-template class="optionsPrefs" #no_animals>No pets</ng-template>
                </div>

                <div class="card preference flex justify-content-center">
                    <mat-icon class="icons">record_voice_over</mat-icon>
                    <p class="optionsPrefs" *ngIf="pref_talk; else no_talk">Talkative</p>
                    <ng-template class="optionsPrefs" #no_talk>Pretty shy</ng-template>
                </div>

                <div class="card preference flex justify-content-center">
                    <mat-icon class="icons">smoking_rooms</mat-icon>
                    <p class="optionsPrefs" *ngIf="pref_smoking; else no_smoke">Smoking allowed</p>
                    <ng-template class="optionsPrefs" #no_smoke>No smoking</ng-template>
                </div>

                <div class="card flex justify-content-center">
                    <h4 class="subTitle">Vehicle informations</h4>
                </div>

                <div class="card preference flex justify-content-center" *ngIf="vehicle.brand == ''">
                    <p class="optionsPrefs">No vehicle information</p>
                </div>

                <div class="card preference flex justify-content-center"
                    *ngIf="vehicle.brand && vehicle.model && vehicle.registration">
                    <mat-icon class="icons">directions_car</mat-icon>
                    <p class="optionsPrefs">{{ vehicle.brand || 'No vehicle information' }}</p>
                </div>

                <div class="card preference flex justify-content-center"
                    *ngIf="vehicle.brand && vehicle.model && vehicle.registration">
                    <mat-icon class="icons">local_car_wash</mat-icon>
                    <p class="optionsPrefs">{{ vehicle.model || 'No vehicle information' }}</p>
                </div>

                <div class="card preference flex justify-content-center"
                    *ngIf="vehicle.brand && vehicle.model && vehicle.registration">
                    <mat-icon class="icons">color_lens</mat-icon>
                    <p class="optionsPrefs">{{ vehicle.color || 'No vehicle information' }}</p>
                </div>


                <div class="card flex justify-content-center">
                    <h4 class="subTitle">Payment information</h4>
                </div>

                <div class="card preference flex justify-content-center">
                    <mat-icon class="icons">credit_card</mat-icon>
                    <p class="optionsPrefs">{{ payment_method.card_num ? '**** **** **** ' +
                        payment_method.card_num.slice(-4) : 'No payment method' }}</p>
                </div>

                <div class="card preference flex justify-content-center"
                    *ngIf="payment_method.card_cvc && payment_method.card_exp">
                    <mat-icon class="icons">event</mat-icon>
                    <p class="optionsPrefs">{{ payment_method.card_exp | date: 'MM/yy' }}</p>
                </div>

                <div class="button card flex justify-content-center">
                    <p-button label="Edit informations" icon="pi pi-pencil" type="submit"
                        [routerLink]="['/profile/edit']"></p-button>
                </div>

                <div class="button card flex justify-content-center">
                    <p-button [style]="{background: '#eb7302', border: '#eb7302'}" label="Change password"
                        icon="pi pi-lock" type="submit" [routerLink]="['/profile/edit/password']"></p-button>
                </div>
            </p-card>
        </div>
    </div>
</body>