<app-navbar-component></app-navbar-component>

<body>
    <div class="formContainer">
        <div class="card flex justify-content-center">
            <p-card class="card" [style]="{ width: '100%'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
                </ng-template>

                <div class="card flex justify-content-center">
                    <h2 class="title">Modify my informations</h2>
                </div>

                <div class="card flex justify-content-center">
                    <h4 class="subTitle">General informations</h4>
                </div>
                <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                    <div class="card flex justify-content-center">
                        <input name="name" type="text" class="inputs" placeholder="Name" pInputText id="name"
                            formControlName="name" />
                    </div>

                    <div class="card flex justify-content-center">
                        <input name="firstname" type="text" class="inputs" placeholder="First Name" pInputText
                            id="firstname" formControlName="firstname" />
                    </div>

                    <div class="card flex justify-content-center">
                        <input formControlName="email" name="email" type="email" class="inputs" placeholder="E-mail"
                            pInputText id="email" />
                    </div>

                    <div class="card flex justify-content-center">
                        <input name="phone" pInputText pKeyFilter="int" type="number" class="inputs"
                            [style]="{'width':'80%'}" formControlName="phone" placeholder="Phone Number" id="phone" />
                    </div>

                    <div class="card flex justify-content-center">
                        <p-calendar name="birthdate" class="inputs" [style]="{'width':'100%'}"
                            [inputStyle]="{'width':'100%'}" placeholder="Birth Date" id="birthdate" [showIcon]="true"
                            formControlName="birthdate"></p-calendar>
                    </div>

                    <div class="card flex justify-content-center">
                        <h4 class="subTitle">Your Preferences</h4>
                    </div>

                    <div class="options card flex justify-content-center">
                        <mat-icon class="icons">pets</mat-icon>
                        <p-selectButton formControlName="pref_animals" name="pref_animals" id="pref_animals"
                            [options]="Options">
                            <ng-template let-item>
                                <mat-icon>{{item.icon}}</mat-icon>
                            </ng-template>
                        </p-selectButton>
                    </div>

                    <div class="options card flex justify-content-center">
                        <mat-icon class="icons">record_voice_over</mat-icon>
                        <p-selectButton formControlName="pref_talk" name="pref_talk" id="pref_talk" [options]="Options">
                            <ng-template let-item>
                                <mat-icon>{{item.icon}}</mat-icon>
                            </ng-template>
                        </p-selectButton>
                    </div>

                    <div class="options card flex justify-content-center">
                        <mat-icon class="icons">smoking_rooms</mat-icon>
                        <p-selectButton formControlName="pref_smoking" name="pref_smoking" id="pref_smoking"
                            [options]="Options">
                            <ng-template let-item>
                                <mat-icon>{{item.icon}}</mat-icon>
                            </ng-template>
                        </p-selectButton>
                    </div>

                    <div class="card flex justify-content-center">
                        <h4 class="subTitle">Vehicle informations</h4>
                    </div>

                    <div class="card flex justify-content-center">
                        <input formControlName="vehicleBrand" name="vehicleBrand" type="text" class="inputs"
                            placeholder="Vehicle Brand" pInputText id="vehicleBrand" />
                    </div>

                    <div class="card flex justify-content-center">
                        <input formControlName="vehicleModel" name="vehicleModel" type="text" class="inputs"
                            placeholder="Vehicle Model" pInputText id="vehicleModel" />
                    </div>

                    <div class="card colorInput flex justify-content-center">
                        <mat-icon>color_lens</mat-icon>
                        <p-colorPicker formControlName="vehicleColor" name="vehicleColor"
                            class="colorChoice"></p-colorPicker>
                        <p class="optionsPrefs">Vehicle Color</p>
                    </div>

                    <div class="card flex justify-content-center">
                        <input name="vehicleRegistration" formControlName="vehicleRegistration" pInputText
                            pKeyFilter="int" type="text" class="inputs" [style]="{'width':'80%'}"
                            placeholder="Registration" id="registration" />
                    </div>

                    <div class="card flex justify-content-center">
                        <h4 class="subTitle">Payment informations</h4>
                    </div>

                    <div class="card flex justify-content-center">
                        <input name="cardNumber" formControlName="cardNumber" type="text" class="inputs"
                            placeholder="Card Number" pInputText id="cardNumber" />
                    </div>

                    <div class="card flex justify-content-center">
                        <input name="cardCode" formControlName="cardCode" type="text" class="inputs"
                            placeholder="Card Code" pInputText id="cardCode" />
                    </div>

                    <div class="card flex justify-content-center">
                        <p-calendar name="expirationDate" formControlName="expirationDate" class="inputs"
                            [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                            placeholder="Card Expiration Date" id="expirationDate" [showIcon]="true"></p-calendar>
                    </div>

                    <div class="button card flex justify-content-center">
                        <p-button label="Save informations" icon="pi pi-save" type="submit"></p-button>
                    </div>
                </form>
            </p-card>
        </div>
    </div>
</body>